# эта настройка должна быть в самом начале; если установлена в true,
# парсер не будет искать другие конфиги родительских папках
root = true

# правила для файлов с кодом
[*.{html,css,js,py,php,json,xml}]
charset = utf-8
end_of_line = lf # концы строк как в linux (другие значения cr, crlf)
insert_final_newline = true # пустая строка в конце файла
trim_trailing_whitespace = true # удалять пробелы в конце строк
indent_style = space # заменять табы на пробелы (второе значение tab)
indent_size = 4 # размер отступа четыре пробела
